<h1>Counter</h1>
<p>Client counter: <span id="client_counter" phx-update="ignore">10</span> Client clock <span id="client_clock" phx-update="ignore">0<p>
<p>Server counter: <span id="server_counter" phx-hook="ServerCounter"><%= @counter %></span> Server clock <span id="server_clock"><%= @server_clock %></span></p>
<button phx-click="inc" phx-hook="Button">Increment</button>
